.block
  .mb-5
    %h1 TEST by Fabian Andres Benavides Valencia - andre0190@gmail.com
  = link_to "Newsletter", new_newsletter_path, class: "bg-blue-500 text-white py-2 px-4"
  .mt-2 
    - if flash.now[:notice].present?
      .alert.alert-success
        = flash.now[:notice]




