@layer components {
  .content-data {
    @apply
      flex
      justify-center
      gap-8
  }

  .content-data .card_item {
    box-shadow: 3px 3px 7px #C5C5C5;
    @apply
      border
      border-solid
      border-blue-400
      w-full
      my-5
      flex
      justify-between
      items-center
      p-4
      rounded-lg
  }

  .content-data .card_item .actions {
    @apply
      flex
      flex-row
      gap-1
      w-24
  }

  .content-data .card_item  .action {
    @apply
    py-1.5
    px-3.5
    bg-blue-100
    rounded-full
  }

  .content-data .add_item {
    @apply
      btn
      flex
      gap-2
      my-5
      lg:w-[50%]
      sm:w-[85%]
  }

  .section-title {
    @apply
      h-12
      flex
      justify-between
      items-center
  }

  .content-data .back {
    @apply
      flex
      mb-8
      gap-2
      text-blue-500
      md:hidden
  }

  .content-data .box {
    @apply
      items-baseline
      w-full
      my-2
      lg:grid
      lg:grid-cols-2
      lg:gap-3
      lg:my-7
  }

  .content-data .nav_bar {
    @apply
      hidden
      md:block

  }

  .content-data .main {
    @apply
      md:w-[60%]
  }

  .content-data .main_hidden {
    @apply
      hidden
      md:block
      md:w-[60%]
  }

  .content-data .subtitle {
    @apply
      text-blue-700
      font-medium
      text-lg
  }

  .content-data .button-edit {
    @apply
      w-[45px]
      flex
      border
      border-solid
      border-blue-700
      rounded-md
      p-3
      lg:gap-2
      max-h-[45px]
      lg:justify-center
      lg:w-[177px]
  }
  .content-data .button-edit p {
    @apply
      hidden
      md:flex
  }

  .content-data hr {
    @apply
      my-5
      border-grey-90
  }
}
